.container {
  padding: 3em;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.market-list-container {
  display: flex;
  width: 100%;
  padding-top: 5em;
}

.market-list-form {
  width: 50%;
  padding: 2em;
}

.market-list-grid {
  width: 60%;
  padding: 2em
}

form .form-group {
  margin-bottom: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

form input[type="text"] {
  width: 100%;
  padding: 0.4em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

form select {
  width: 100%;
  padding: 0.4em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.form-group-inline div {
  width: 30%;
}

.form-button-add {
  background-color: blue !important;
  color: white !important;
  cursor: pointer;
  width: 100%;
}

.form-button-export {
  background-color: green !important;
  color: white !important;
  font-weight: bold;
}

.form-button-exportPdf {
  background-color: #e74c3c !important;
  color: white !important;
  font-weight: bold;
  margin-right: 8px;
}

.form-button-exportPdf:hover {
  background-color: #c0392b;
}

.form-button-exportTxt {
  background-color: #3498db !important;
  color: white !important;
  font-weight: bold;
  margin-right: 8px;

}

.form-button-exportTxt:hover {
  background-color: #2980b9;
}

.market-list-row {
  width: 100%;
  display: flex;
  margin-bottom: 0.2em;
}

.market-list-row-details {
  background-color: #EEE;
  flex-grow: 1;
  padding: 0.4em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.2em;
  cursor: pointer;
}

.market-list-row-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-delete a {
  display: block;
  cursor: pointer;
  padding: 1em;
  background-color: #EF5350;
  color: white
}

.btn-delete a:hover {
  background-color: #D32F2F;
}

.btn-edit a {
  display: block;
  cursor: pointer;
  padding: 1em;
  background-color: #f8e44a;
  color: white
}

.btn-edit a:hover {
  background-color: #f8ca13;
}

mat-form-field {
  width: 100%;
}

.product-type {
  display: flex;
  flex-direction: column;
}

.product-type-title {
  font-size: 1em;
  font-weight: bold;
}

.product-description {
  margin-top: 0.1em;
}
