<div class="container">
  <h1>Lista de Compras</h1>

  <div class="market-list-container">
    <div class="market-list-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Tipo de Produto</label>

          <!-- <input type="text" name="productType" [(ngModel)] ="marketList.productType"/> -->
          <select id="productType" name="productType" [(ngModel)]="marketList.productType">
            <option value="Café da manhã/Padaria">Café da manhã/Padaria</option>
            <option value="Mercearia">Mercearia</option>
            <option value="Bebidas">Bebidas</option>
            <option value="Carnes e frios">Carnes e frios</option>
            <option value="Produtos de limpeza">Produtos de limpeza</option>
            <option value="Higiene pessoal">Higiene pessoal</option>
            <option value="Frutas e legumes">Frutas e legumes</option>
            <option value="Pet">Pet</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Descrição</label>
          <input type="text" name="ProductDescription" [(ngModel)] ="marketList.productDescription"/>
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
        <div>
        </div>
      </form>

    </div>
    <div class="market-list-grid">

      <div class="market-list-row" *ngFor="let marketList of marketLists">
        <div class="market-list-row-details" (click)="populateForm(marketList)">
          <span>{{marketList.productType}}</span>
          <span>{{marketList.productDescription}}</span>
        </div>
        <div class="market-list-row-action">
          <a (click)="deleteMarketList(marketList.id)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
      <a (click)="exportCsv()" class="form-button-export"><i class="fas fa-file-excel"></i> Exportar</a>
    </div>
  </div>
</div>
